/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-imagewize-services-block {
	border: 1px dotted #f00;

    .block-editor-inner-blocks {
        width: 100%;
    }
    
    .block-editor-block-list__layout {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .service-icon {
        input {
            background: transparent;
            border: none;
            color: white;
            width: 100%;
            
            &::placeholder {
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }

    .wp-block-row {
        margin-bottom: 2rem;
        
        > .block-editor-inner-blocks > .block-editor-block-list__layout {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }
    }

    .wp-block-column {
        margin: 0;
    }
}
